<% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<% content_for :title, "Customers" %>

<div class="container">
  <h1>Customers</h1>
  <%= link_to "New customer", new_customer_path %>

  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone</th>
          <th>Company</th>
          <th>Stage</th>
          <th>Probability</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr id="customer-<%=customer.id %>">
            <td><%= customer.id %></td>
            <td><%= customer.email %></td>
            <td><%= customer.first_name %></td>
            <td><%= customer.last_name %></td>
            <td><%= customer.phone %></td>
            <td><%= customer.company %></td>
            <td><%= customer.stage.capitalize %></td>
            <td><%= customer.probability %></td>
            <td>
              <%= link_to "Edit", edit_customer_path(customer), class: %>
              <%= link_to "Delete", customer, data: { turbo_method: :delete } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
